.container {
  .main {
    .react-p5 {
      text-align: center;

      .p5Canvas {
        padding: 0;
        margin: 0 auto;
        display: inline;
      }
    }
  }

  .footer {
    bottom: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
