name: genetic-algorithm CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [15]
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Unit tests & Linters (Node ${{ matrix.node-version }})
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: |
          yarn
          yarn tsc
          yarn tsc:cypress
          yarn lint
          yarn style
          yarn test
          yarn build
          yarn export
        env:
          CI: true

      - name: Cypress end-to-end tests
        uses: cypress-io/github-action@v2
        with:
          build: yarn build
          start: yarn start:test
          wait-on: http://localhost:3030
